@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;700&display=swap");

* {
  margin: 0;
}

body {
  font-family: "Fira Code", monospace;
  background-color: black;
  color: #fff;
}

.container {
  margin: 0 auto;
  width: 80%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

.greeting {
  font: normal 200% 'Fira Code', monospace;
  border-right: 0.1em solid;
  width: 17em; /* fallback */
  width: 24ch; /* # of chars */
  margin: 1em 2em;
  white-space: nowrap;
  overflow: hidden;

  animation: typing 10s steps(30, end),
    /* # of steps = # of chars */ blink-caret 0.5s step-end infinite alternate;
}

.greeting span {
  font-weight: 700;
}

.description {
  font-size: 30px;
  font-weight: 300;
}

.description:hover {
  background-color: white;
  color: black;
}
